.employees {
  padding-top: 20px;
}

.employee {
  margin-bottom: 10px;
}

.card {
  border: 1px solid black;
}

.bio {
  display: inline-block;
  position: absolute;

  p{
    margin-left: 10px;
  }
}
